<!-- Contact section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-left mb-5">
            <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-hands-holding"></i></div> -->
            <h2 class="fw-bolder">Contactanos</h2>
            <p class="lead mb-0">Ayudanos a ayudar a los demás </p>
        </div>
        <dl class="row">
            <dt class="col-sm-3">Email</dt>
            <p class="col-sm-9">info &commat;fundacionayudavida.com</p>
          
            <dt class="col-sm-3">Dirección</dt>
            <dd class="col-sm-9">
              <p>Av. Francisco de Orellana y Justino Cornejo</p>
              <!-- <p>And some more placeholder definition text.</p> -->
            </dd>
          
            <dt class="col-sm-3">Teléfonos</dt>
            <dd class="col-sm-9">+593 9820 8585</dd>
          
            <dt class="col-sm-3 ">Siguenos en nuestras redes sociales:</dt>
        </dl>
        
        <!-- <dt class="col-sm-3 p-1"><i class="fa-brands fa-instagram fa-lg"></i><a  href="https://www.instagram.com/fundacionserfeliz/"> fundacionayudavida</a> </dt>
        <dt class="col-sm-3 p-1"><i class="fa-brands fa-facebook fa-lg"></i><a  href="https://www.instagram.com/fundacionserfeliz/"> fundacionayudavida</a> </dt>
        <dt class="col-sm-3 p-1"><i class="fa-brands fa-x-twitter fa-lg"></i><a  href="https://www.instagram.com/fundacionserfeliz/"> fundacionayudavida</a> </dt> -->
        
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
             
            </div>
        </div>
    </div>
</section>