        <header class=" py-5">
         
            <div class="container ">
                <div class="row gx-5 justify-content-left">
                    <div class="col-lg-6 ">
                        <div class="text-left my-5">
                            <h1 class="display-5 fw-bolder text-black mb-2">Conoce más de lo que hacemos</h1>
                            <p class="lead text-black mb-4">Con tus aportes nos ayudas a prteger between Gaza and Egypt. Their mission is to provide aid to the hundreds of thousands of people trapped under the shelling without water, food, electricity, medicines or medical attention.

                                To have the highest possible impact, we have started to raisa los niños y adolecentes del Ecuador</p>
                          
                         
                            
                        </div>
                    </div>
                </div>
            </div>


         <!-- Comienzo de Carousel -->    
         <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/imagen-alimentos.jpg" class="d-block w-100 " alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/img/niños-juntos.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/img/niños-escuela.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
            <!-- Fin de Carousel -->

            <div class="container px-5">
                
                <div class=" dos-columnas ">
                        <div class="item">
                          <h1>Tus acciones inspiran a otros</h1>

                          <p>Porque queremos aportar un poco de ayuda a los más necesitados,
                            <br>
                            llegando a zonas rurales con menos accesos, para que puedan tener
                            <br>
                            mejor salud, educación y vida
                          </p>
                          <h3>Unete a nosotros y ayudanos a cumplir este sueño</h3>
                          <p>Tenemos la misión de buscar los niños más vulnerabes
                            <br>para combatir la desnutrición crónica infantil
                          </p>
                        </div>
                        <div class="item">
                            <!-- <img  class="img" src="assets/img/imagen-alimentos.jpg" /> -->
                        </div>
                        <!-- <div class="item">
                            <p>Item3</p>
                        </div> -->
                </div>
                <div class="dos-columnas">
                    <div class="item">
                      <!-- Inicio de Card -->
                      <div class=" mb-3" style="max-width: 540px;">
                        
                          <div class="col-md-9">
                            <img src="assets/img/niños-escuela.jpg" class="img-fluid rounded-start" alt="...">
                          </div>
                          
                      </div>      
                    <!-- Fin de Card -->
                    </div>
                    <div class="item">
                        <h1>Desnutrición crónica infantil</h1>
                        <p>La desnutrición crónica se manifiesta principalmente en un retraso en el crecimiento de la persona, se mide de acuerdo a la relación entre su talla y edad. Este trastorno indica una carencia en los nutrientes de su alimentación durante un tiempo prolongado, lo que genera retraso tanto físico como mental.</p>
                    </div>
                </div>


                <div class=" ">
                    <div class="testimonio justify-content-center">

                        <h1>Testimonios</h1>

                    </div>
                    

                    <div class="tres-columnas">

                      <!-- Start Card -->

                      <div class="card" 
                      >
                      <!-- style="width: 18rem;" -->
                        <img src="assets/img/desnutricion-infantil.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure laboriosam blanditiis iste voluptate, sit autem debitis magni, repellat optio non nobis voluptatibus? Ratione quis tenetur nostrum molestias. Et, ex iusto!
                            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>

                      <!-- End Card -->

                        <!-- Start Card -->
                      
                        <div class="card" 
                        >
                        <!-- style="width: 18rem;" -->
                        <img src="assets/img/niños-escuela.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nobis officia numquam assumenda at sapiente vero corporis accusantium? Obcaecati porro quas quos sapiente dolore sed iste suscipit eveniet neque optio?
                            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>

                      <!-- End Card -->
                        <!-- Start Card -->
                      
                      <div class="card" 
                      >
                      <!-- style="width: 18rem;" -->
                        <img src="assets/img/imagen-alimentos.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate sit obcaecati totam quo! Dolores provident neque beatae accusamus, magnam sit ea animi, repellat voluptatibus rem necessitatibus expedita placeat molestias doloribus.
                            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>

                      <!-- End Card -->


                    </div>



                </div>


            </div>
        </header>