        <header class="bg-green py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 ">
                        <div class="text-left my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Conoce más de lo que hacemos</h1>
                            <p class="lead text-black-50 mb-4">Con tus aportes nos ayudas a prteger a los niños y adolecentes del Ecuador</p>
                            <!-- <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                            </div> -->


                        </div>
                    </div>
                </div>
                <div class=" dos-columnas ">
                        <div class="item">
                          <h1>Tus acciones inspiran a otros</h1>

                          <p>Porque queremos aportar un poco de ayuda a los más necesitados,
                            <br>
                            llegando a zonas rurales con menos accesos, para que puedan tener
                            <br>
                            mejor salud, educación y vida
                          </p>
                          <h3>Unete a nosotros y ayudanos a cumplir este sueño</h3>
                          <p>Tenemos la misión de buscar los niños más vulnerabes
                            <br>para combatir la desnutrición crónica infantil
                          </p>
                        </div>
                        <div class="item">
                            <img  class="img" src="../../../assets/img/imagen-alimentos.jpg" />
                        </div>
                        <!-- <div class="item">
                            <p>Item3</p>
                        </div> -->
                </div>
                <div class="dos-columnas">
                    <div class="item">
                        <img class="img" src="../../../assets/img/desnutricion-infantil.jpg" alt="">
                    </div>
                    <div class="item">
                        <h1>Desnutrición crónica infantil</h1>
                        <p>La desnutrición crónica se manifiesta principalmente en un retraso en el crecimiento de la persona, se mide de acuerdo a la relación entre su talla y edad. Este trastorno indica una carencia en los nutrientes de su alimentación durante un tiempo prolongado, lo que genera retraso tanto físico como mental.</p>
                    </div>
                </div>
            </div>
        </header>