<footer class="py-5 bg-green">
        <div class="card-group ">
            <div class="card bg-green">
              <div class="card-body">
                <h5 class="card-title">Dirección</h5>
                <p class="card-text">Urb. Duran City mz 14 villa 29</p>
              </div>
              <div class="">
                <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
              </div>
            </div>
            <div class="card bg-green">
              <div class="card-body">
                <h5 class="card-title">Telefonos</h5>
                <p class="card-text">0991264778 - 0989967879</p>
              </div>
              <div class="">
                <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
              </div>
            </div>
            <div class="card bg-green">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h5 class="card-title">Correos</h5>
                <p class="card-text">info@fundacion.com </p>
              </div>
              <div class="">
                <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
              </div>
            </div>
          </div>
        




    <div class="container px-5"><p class=" m-0 text-center text-black">Copyright &copy; FUNDACIÓN {{year}}</p></div>
</footer>